# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
.env.*

# Ignore OS junk
.DS_Store

# Ignore SQLite databases
*.db

# Ignore virtual environments
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore build / distribution files
build/
dist/
